body {
    font-family: 'Consolas';
    margin: 0; 
}

.game-view {
    position: relative;
    background: rgb(61, 160, 244);
    background: linear-gradient(0deg, rgba(61, 160, 244, 1) 0%,
    rgba(192, 221, 246, 1) 33%,
    rgba(55, 157, 244, 1) 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.start-screen {
    position: absolute;
    font-size: 48px;
    width: 30%;
    background-color: rgb(245, 245, 159);
    border-radius: 30px;
    top: 40%;
    left: 50%; /*началото на елемента се позиционира в средата и целият елемент е видим в дясната част на екрана => */
    transform: translate(-50%); /* => елементът се избутва назад, за да се позиционира в средата на екрана*/
    z-index: 1;
    text-align: center;
    padding: 20px;
}

.start-screen:hover {
    background-color: rgb(238, 219, 100);
    cursor: pointer; 
}

.game-screen {/*взимаме 100% от позицията на parent-елемента game-view*/
    width: 100%;
    height: 100%;
}

.wizard {
    position: absolute;
    background-image: url('/src/images/wizard.png');
    background-size: cover;
}

.bug {
    position: absolute;
    background-image: url('/src/images/bug.png');
    background-size: cover;
}

.hidden {
    display: none;
}